
.icon-professional:before { content: '\e800'; } /* '' */
.icon-tax:before { content: '\e801'; } /* '' */
.icon-engineering:before { content: '\e802'; } /* '' */
.icon-innovation:before { content: '\e803'; } /* '' */
.icon-insurance:before { content: '\e804'; } /* '' */
.icon-maintenance:before { content: '\e805'; } /* '' */
.icon-monitor:before { content: '\e806'; } /* '' */
.icon-policy:before { content: '\e807'; } /* '' */
.icon-mouse:before { content: '\e808'; } /* '' */