/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	

	 
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	header .head-screen .head-text h1, .forma h1 {
		font-size: 40px;
	}		
	header .head-screen {
		margin-top: 50px !important;
	}
	header .head-screen .head-text {
		margin-bottom: 30px;
	}
	header .head-screen .label {
		width: 80%;
   		margin: 0 auto;
	}
	header .head-screen .head-label {
		margin: 50px 0;
	}	
	header .navbar .navbar-brand i.line::after,
	header .navbar .container .navbar-brand .mouse,
	header .navbar-light .navbar-text .icon::before,
	header .navbar-light .navbar-text .icon,
	header .navbar-light .navbar-nav .nav-link::after,
	header .head-screen .abspos .icon-free	{
		display: none;
	}
	header .head-screen .head-label h3 {
		font-size: 20px;
	}
	.discount .discount-content {
		height: unset !important; 
	}
	.discount .discount-content .discount-intro {
		padding: 50px 0 !important;
		text-align: center;
	}
	.discount .discount-content .discount-intro h3.top-line {
		margin: 0 auto;
	}
	.discount .discount-content .discount-timer {
		padding: 35px 0 !important;
	}
	.timer-block .timer {
		width: 80% !important;
    	margin: 30px auto 0 !important;
	}

	.container {
		padding: 0;
	}
	.tool-selection .tool-block {
		width: 100% !important;
	}
	.forma h1 {
		text-align: center;
	}
	.forma .forma-timer {
		width: unset !important;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}
	.timer-block .timer .tablo {
		width: unset !important;
	}
	.timer-block .timer .tablo .clock {
		width: 60px !important;
		height: 60px !important;
		background-size: cover;
		line-height: 63px !important;
	}
	.forma .forma-box {
		background-size: cover;
	}
	.forma .forma-box form input[type="submit"] {
		width: 95% !important;	
	}
	.feedback-content {
		display: block !important;
		width: 80% !important; 
	}
	.slick-slide img {
		margin: 0 auto !important;
	}
	.feedback-content .fb-author {
		left: unset !important;
		top: unset !important;
		width: unset !important;
		text-align: center;
		height: unset !important;
		padding: 15px 0;
	}
	.feedback-content .author-img {
		position: unset !important;
	}
	.feedback-content .fb-author p {
		position: unset !important;
	}

	.service .service-block .service-icon img {
		width: 100% !important;
	}
	.contacts .contacts-info {
		margin-top: 20px;
    	text-align: center;
	}
	.contacts {
		padding-bottom: 0 !important;
	}
	.contacts .contacts-info {
		padding-bottom: 0 !important;
	}
	.slick-next {
		right: 0 !important;
	}
	.slick-prev {
		left: 0 !important;
	}

	.line-vertical {
		display: none;
	}

	.row {
		margin: 0;
	}

	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
	.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 
	{
		padding: 0;
	} 
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}